node_modules
dist
.git
.gitignore
.env
.env.*
!.env.example
*.log
npm-debug.log*
coverage
.nyc_output
.DS_Store
Thumbs.db
test
**/*.spec.ts
**/*.e2e-spec.ts
jest-e2e.json
README.md
docs
sdk
db/seeds
.github
docker-compose.yml
